/* html,
body {
  height: 100%;
} 

.form-signin {
  max-width: 330px;
  padding: 1rem;
} */
/* body {
    background-color: navy;
} */

.content {
    margin-top: 50px; /* Sesuaikan dengan tinggi navbar */
    padding: 20px;
}

.responsive-button {
    width: 100%;
    max-width: 150px;
    height: 40px;
    border-radius: 26.5px;
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.75rem;
    border: none;
    outline: none;
    padding: 8px;
    cursor: pointer;
    background: #216588;
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
}

/* Responsif */
@media (max-width: 768px) {
    .content {
        margin-top: 50px;
        padding: 10px;
    }
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .d-flex.justify-content-end {
        justify-content: flex-start !important;
    }

    /* .col-auto {
        margin-right: 0 !important;
    } */

    .btn-info.btn-responsive {
        margin-right: 0 !important;
        margin-bottom: 1rem;
        width: 100%;
        text-align: center;
    }

    .form-control.w-25 {
        width: 100% !important;
    }

    .btn-outline-success.flex-shrink-0 {
        margin-bottom: 1rem !important;
        width: 100%;
        text-align: center;
        align-items: center;
        align-content: flex-end;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    /* Tombol Tambah Surat */
    /* button[type="button"] {
        float: none;
        width: 100%;
        margin-top: 10px;
    } */
}

/* @media (max-width: 767px) {
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .d-flex.justify-content-end {
        justify-content: flex-start !important;
    }

    .col-auto {
        margin-right: 0 !important;
    }

    .btn-info.btn-responsive {
        margin-right: 0 !important;
        margin-bottom: 1rem;
        width: 100%;
        text-align: center;
    }

    .form-control.w-25 {
        width: 100% !important;
    }

    .btn-outline-success.flex-shrink-0 {
        margin-bottom: 1rem !important;
        width: 100%;
        text-align: center;
    }
} */
